<h1>Modificar el Area</h1>
<h6> Si usted modifica el area, favor verificar trabajadores en ella</h6>
<%= render 'form', area: @area %>

<%= link_to 'Show', @area, class:'btn btn-success' %> |
<%= link_to 'Back', areas_path, class:'btn btn-info' %>
